<?xml version="1.0" ?>
<robot name="staubli_tx60_gazebo" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- TX60 -->
  <xacro:include filename="$(find staubli_tx60_gazebo)/urdf/tx60_macro.xacro"/>	

  <xacro:staubli_tx60_robot prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
