<!--
  Wrapper launch file for the Staubli specific robot_state node.
-->
<launch>
  <!-- IP of robot (or PC running simulation) -->
  <arg name="robot_ip" />

  <!-- put them on the parameter server -->
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />

  <!-- reuse generic industrial robot client state node -->
  <node pkg="industrial_robot_client" type="robot_state" name="robot_state" />
</launch>
