<?xml version="1.0" ?>
<robot name="staubli_rx160_gazebo" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- RX160 -->
  <xacro:include filename="$(find staubli_rx160_gazebo)/urdf/rx160_macro.xacro"/>	
  
  <xacro:staubli_rx160_robot prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
